.publications-page {
    padding-top: 30px;
    background: #f5f5fa;
    &__switcher {
        display: inline-block;
        border-radius: 12px;
        background: #e6e6f0;
        padding: 2px;
    }
    &__btn-news {
        border-radius: 10px;
        background: #ffffff;
        border: none;
    }
    &__btn-articles {
        background: none;
        border: none;
    }
    &__positions-bnt {
        text-align: center;
    }
    &__item {
        margin-top: 30px;
        padding: 18px 30px;
        background: #24a3ff;
        box-shadow: 0px 0px 20px rgba(36, 163, 255, 0.5);
        border-radius: 12px;
        border: none;
        cursor: pointer;
    }
}

.img-last-tablet {
    object-fit: cover;
}

.img-desktop {
    object-fit: cover;
}

.btn-border {
    border-bottom: 2px solid $grey-light-2;
    padding-bottom: 30px;
}

.mr-top-0 {
    margin-top: 0;
}

.border-non {
    border: none;
    padding-bottom: 0;
}

.btn-publ {
    cursor: pointer;
    padding: 10px 30px;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    color: #323264;
}

@media (min-width: 768px) {
    .publications-page {
        margin-top: 60px;
        padding-top: 0;
        &-tabl {
            width: 50%;
            margin: 0;
            padding: 0 15px;
            height: auto;
        }
        &__positions-bnt {
            padding-top: 30px;
        }
    }

    .btn-border {
        padding-bottom: 60px;
    }

    .main-card-pos-tabl {
        margin-top: 0;
    }

    .posit-tabl {
        padding-top: 30px;
    }
}

@media (min-width: 1024px) {
    .publications {
        &-page-tabl {
            width: 33.333%;
        }
    }
    .pt-non {
        padding-top: 0;
    }
    .mr-top {
        margin-top: 30px;
    }

    .publications-page {
        &__item {
            margin-top: 0;
        }
    }

    .pos-desk {
        padding-top: 30px;
    }
}
