.publications {
    padding-top: 30px;
    background: $grey-light;
    &__card {
        padding-bottom: 30px;
        border-bottom: 2px solid $grey-light-2;
    }
    &__caption {
        padding-top: 5px;
        &-blue {
            padding: 30px 30px 15px 30px;
        }
    }
    &__main-card {
        display: flex;
        flex-direction: column;
        background: $white;
        border-radius: 8px;
        margin-top: 30px;
    }
    &__text-date {
        padding-bottom: 15px;
        border-bottom: 4px solid $grey-light-2;
        margin: 0 30px;
    }
    &__text-regular {
        padding: 15px 30px 30px;
    }
}

.img-desktop {
    border-radius: 8px 8px 0 0;
}

.img-last-tablet {
    border-radius: 8px 8px 0 0;
}

@media (min-width: 768px) {
    .publications {
        padding-left: 30px;
        padding-right: 30px;
        &__card {
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            margin: 0 -15px;
            padding-bottom: 0;
            padding-bottom: 30px;
            border: none;
        }
        &__main-card {
            height: 100%;
        }
        &__wrap {
            width: 50%;
            padding: 0 15px;
        }
    }

    .wrap-all {
        width: 100%;
        height: fit-content;
        padding-top: 30px;
        margin: 0 15px;
        padding-left: 0;
        padding-right: 0;
        border-bottom: 2px solid $grey-light-2;
    }

    .border-non {
        border: none;
    }
}

@media (min-width: 1024px) {
    .publications {
        &__wrap {
            width: 33.333%;
        }
        &__text-regular {
            padding-bottom: 30px;
        }
        &__main-card {
            height: 100%;
            margin-top: 0;
        }
        &__card {
            justify-content: space-between;
            padding-top: 30px;
            padding-bottom: 30px;
        }
        &__border {
            border-bottom: 2px solid $grey-light-2;
        }
    }

    .wrap-all {
        height: auto;
        padding-top: 0;
        margin: 0;
        border-bottom: none;
        padding: 0 15px;
    }
}
