$grey: #b3b3ba;
$grey-light: #f5f5fa;
$grey-light-2: #e6e6f0;
$grey-light-3: #e7e7f2;
$grey-light-4: #cacadb;
$white: #ffffff;
$red: #f0145a;
$blue-reg: #24a3ff;
$blue-dark: #1c4280;
$blue-deep: #143646;
$purple: #9e4dc3;
$purple-deep: #46466e;
$purple-dark: #323264;
$orange: #f48b30;
$orange2: #fd9339;
$grey-wet: #e2e2e4;
$red-dark: #c71c36;
$green-light: #dcf3f9;
$light: #eaeaea;
$blue-deepest: #282240;
$blue-light: #1d4568;
$black: #000000;
$grad: linear-gradient(90.13deg, #f0145a 0.84%, #ef8080 99.96%);
$grad-rev: linear-gradient(90.13deg, #ef8080 0.84%, #f0145a 99.96%);
$grad-back: linear-gradient(
    228.57deg,
    #323264 11.93%,
    #323264 57.17%,
    #643e72 87.46%
);
